import { Directive } from '@angular/core';
import { classes } from '<%- importAlias %>/utils';

@Directive({
	selector: '[hlmMessageAvatar],hlm-message-avatar',
	host: { 'data-slot': 'message-avatar' },
})
export class HlmMessageAvatar {
	constructor() {
		classes(
			() =>
				'spartan-message-avatar col-start-1 row-start-1 flex w-fit shrink-0 items-center justify-center self-end overflow-hidden group-data-[align=end]/message:col-start-2',
		);
	}
}
