@font-face {
	font-family: 'Progress Sans Text';
	src: url('../public/fonts/progress-sans/ProgressSansText-Light.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Progress Sans Text';
	src: url('../public/fonts/progress-sans/ProgressSansText-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Progress Sans Text';
	src: url('../public/fonts/progress-sans/ProgressSansText-Medium.woff2') format('woff2');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Progress Sans Text';
	src: url('../public/fonts/progress-sans/ProgressSansText-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Progress Sans Text';
	src: url('../public/fonts/progress-sans/ProgressSansText-ExtraBold.woff2') format('woff2');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
